<!DOCTYPE html>
<html>

<head>

    <title>Job Search History</title>

    <link rel="stylesheet"
    href="{{ url_for('static',
    filename='style.css') }}">

</head>

<body>

<div class="navbar">

    <h2>JobFinder Portal</h2>

    <div>

        <a href="/">Home</a>

        <a href="/history">History</a>

        <a href="/saved-jobs">Saved Jobs</a>

        <a href="/dashboard">Dashboard</a>

        <a href="/analytics">Analytics</a>

        <a href="/export">Export CSV</a>

        <button
        class="theme-btn"
        onclick="toggleTheme()">

        🌙

        </button>

    </div>

</div>

<div class="container">

    <h1>Job Search History</h1>

    {% if records %}

    <table>

        <tr>

            <th>ID</th>

            <th>Job Title</th>

            <th>Company</th>

            <th>Location</th>

            <th>Skill</th>

        </tr>

        {% for row in records %}

        <tr>

            <td>{{ row[0] }}</td>

            <td>{{ row[1] }}</td>

            <td>{{ row[2] }}</td>

            <td>{{ row[3] }}</td>

            <td>{{ row[4] }}</td>

        </tr>

        {% endfor %}

    </table>

    {% else %}

    <div class="no-data">

        No Search History Available

    </div>

    {% endif %}

</div>

<script src="{{ url_for(
'static',
filename='script.js'
) }}"></script>

</body>

</html>